.title {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  margin: 0;
  display:block;
}

#btn-refresh, #btn-view-all {
  /*float:right;*/
  margin-right:20px;
}

.maildate, .mailtime {
  float:right;
  margin-left:5px;
}

.mailtime {
  margin-right:20px;
}

div.usage {
  color: #0088CC;
  margin:10px;
}

div.usage a {
  color: black;
  font-weight:bold;
}

.loading {
  margin-left:47%;
}

.thumbnail {
  margin-left:0px;
  float: none;
  display:block;
}

table.mail tr td {
  vertical-align: top;
}

.mailtext {
  padding-left:20px;
}

.twitterflow {
  padding-left:0px;
  width:247px;
}