#
# Site configuration
#
  :appname    : 'Title of this One page website.'
  :title      : 'This the H1 title of this One page website.'
  :email      : 'email@company.com'
  :meta_desc  : 'Some, meta, key words'
  :meta_author: 'Author'
  :images_dir : '/pictures' # The directory where the attached pictures will be stored. 

#
# Mail configuration
#
  :mail_server   : 'imap.mydomain.com'
  :mail_port     : '143'
  :mail_username : 'username'
  :mail_password : 'very strong password'
  :mail_signature: 'Some key you put at the end of your mail to allow the system to put  it on the page (to avoid spam)'

#
# InstantMapper Configuration
#
  :instantmapper_key : '0123456789' # Please enter your instantMapper key (see : http://www.instamapper.com/)

#
# Twitter configuration
#
  :twitter_account  : 'your Twitter account'
  :twitter_hashtag1 : 'Some hashtag (without #) if you want'
  :twitter_title    : 'Title of the twitter widget'
  :twitter_subject  : 'Subject of the twitter widget'
